<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.Share"
            android:value="vn.kyoz.godot.share.Share" />

        <provider
            android:name="vn.kyoz.godot.share.ShareFileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="${applicationId}">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>

        </provider>
    </application>

</manifest>